{% assign categories = section.blocks.size %}
{% liquid
  if categories > 7
    assign arrowClass = 'mobile tablet laptop desktop'
    assign containerClass = 'mobile-left-align tablet-left-align laptop-left-align desktop-left-align'
  elsif categories > 6
    assign arrowClass = 'mobile tablet laptop'
    assign containerClass = 'mobile-left-align tablet-left-align laptop-left-align'
  elsif categories > 5
    assign arrowClass = 'mobile tablet'
    assign containerClass = 'mobile-left-align tablet-left-align'
  elsif categories > 2
    assign arrowClass = 'mobile'
    assign containerClass = 'mobile-left-align'
  endif
%}

{{ 'section-article-categories.css' | asset_url | stylesheet_tag: preload: boolean }}
<style>
  #{{section.id}}{
    padding-top:{{section.settings.mobile-top-padding}}px;
    padding-bottom:{{section.settings.mobile-bottom-padding}}px;
    padding-right:{{section.settings.mobile-right-padding}}px;
    padding-left:{{section.settings.mobile-left-padding}}px;
    {% if section.settings.max-width != empty %}max-width:{{section.settings.max-width}}px;{% endif %}
  }

  #{{section.id}} .article-categories-inner-container > .category{
    color:{{section.settings.text_colour}};
  }

  #{{section.id}} .article-categories-inner-container > .category:hover{
    color:{{section.settings.text_colour}};
    text-decoration-color: {{section.settings.text_colour}};
  }

  #{{section.id}} .article-categories-inner-container > .category > .category-title{
    font-size:{{section.settings.mobile-font-size}}px;
    color:{{section.settings.text_colour}};
  }

  #{{section.id}} .arrow-container{
    top:43%;
    display:none;
  }

  #{{section.id}} .arrow-container.mobile{
    display:block;
  }

  @media only screen and (min-width:768px){
    #{{section.id}} .arrow-container.mobile{
      display:none;
    }

    #{{section.id}} .arrow-container.tablet{
      display:block;
    }
  }

  @media only screen and (min-width:992px){
    #{{section.id}}{
      padding-top:{{section.settings.desktop-top-padding}}px;
      padding-bottom:{{section.settings.desktop-bottom-padding}}px;
      padding-right:{{section.settings.desktop-right-padding}}px;
      padding-left:{{section.settings.desktop-left-padding}}px;
    }

    #{{section.id}} .article-categories-inner-container > .category > .category-title{
      font-size:{{section.settings.desktop-font-size}}px;
    }
  }

  @media only screen and (min-width:1024px){
    #{{section.id}} .arrow-container.tablet{
      display:none;
    }

    #{{section.id}} .arrow-container.laptop{
      display:block;
    }
  }

  @media only screen and (min-width:1250px){
    #{{section.id}} .arrow-container.laptop{
      display:none;
    }

    #{{section.id}} .arrow-container.desktop{
      display:block;
    }
  }
</style>

<div id="{{ section.id }}" class="article-categories-container">
  <div class="article-categories-inner-container {{ containerClass }}">
    {% for block in section.blocks %}
      <a
        class="category{% if current_tags and current_tags.first != block.settings.tag %} opacity{% endif %}{% if forloop.last %} last{% endif %}"
        href="{{ blog.url }}{% if block.settings.tag != empty %}/tagged/{{ block.settings.tag | handle }}{% endif %}"
        title="{{ block.settings.title }} Posts"
      >
        <img
          src="{{ block.settings.image | image_url }}"
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.height }}"
          alt="{{ block.settings.image.alt }}"
          loading="lazy"
          class="category-image{% if section.settings.circle %} category-image-circle{% endif %}"
        >
        <p class="category-title">{{ block.settings.title }}</p>
      </a>
    {% endfor %}
  </div>
  <div class="arrow-container {{ arrowClass }}">
    <span
      class="scroll-arrow left"
      onclick="scrollArrow(this)"
      data-target="article-categories-inner-container"
      data-direction="left"
      data-speed="30"
      data-distance="300"
      data-step="30"
      ><i class="fa-solid fa-angle-left"></i
    ></span>
    <span
      class="scroll-arrow right"
      onclick="scrollArrow(this)"
      data-target="article-categories-inner-container"
      data-direction="right"
      data-speed="30"
      data-distance="300"
      data-step="30"
      ><i class="fa-solid fa-angle-right"></i
    ></span>
  </div>
</div>

<script>
  //Arrow functions
  function scrollArrow(button) {
    let target = button.getAttribute('data-target');
    let direction = button.getAttribute('data-direction');
    let speed = parseInt(button.getAttribute('data-speed'));
    let distance = parseInt(button.getAttribute('data-distance'));
    let step = parseInt(button.getAttribute('data-step'));
    let container = document.getElementsByClassName(target)[0];

    sideScroll(container, direction, speed, distance, step);
  }

  function sideScroll(element, direction, speed, distance, step) {
    scrollAmount = 0;
    var slideTimer = setInterval(function () {
      if (direction == 'left') {
        element.scrollLeft -= step;
      } else {
        element.scrollLeft += step;
      }
      scrollAmount += step;
      if (scrollAmount >= distance) {
        window.clearInterval(slideTimer);
      }
    }, speed);
  }
</script>

{% schema %}
{
  "name": "Article Categories",
  "settings": [
    {
      "type": "header",
      "content": "Universal Settings"
    },
    {
      "type": "checkbox",
      "id": "circle",
      "label": "Circle Images?",
      "default": false
    },
    {
      "type": "color",
      "id": "text_colour",
      "label": "Text Colour",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bg_colour",
      "label": "Background Colour",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "max-width",
      "label": "Max Width",
      "info": "Please enter max-width value in pixels, ex: 1250, 1440."
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "range",
      "id": "mobile-font-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Mobile Font Size",
      "default": 14
    },
    {
      "type": "range",
      "id": "mobile-top-padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Top Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile-bottom-padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Bottom Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile-right-padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Right Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile-left-padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Mobile Left Padding",
      "default": 0
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "range",
      "id": "desktop-font-size",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Desktop Font Size",
      "default": 20
    },
    {
      "type": "range",
      "id": "desktop-top-padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Desktop Top Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop-bottom-padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Desktop Bottom Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop-right-padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Desktop Right Padding",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop-left-padding",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Desktop Left Padding",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "limit": 9,
      "settings": [
        {
          "type": "text",
          "id": "tag",
          "label": "Category Tag"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Category Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Category Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Article Categories"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
