{% liquid
  assign colour_matching_row_mobile = images["colour-matching-row-mobile.webp"]
  assign contact_row_mobile = images["contact-row-mobile.webp"]
  assign quiz_column_mobile = images["quiz-column-mobile.webp"]
  assign sample_column_mobile = images["sample-column-mobile.webp"]

  assign colour_matching_row_desktop = images["colour-matching-row-desktop.webp"]
  assign contact_row_desktop = images["contact-row-desktop.webp"]
  assign quiz_column_desktop = images["quiz-column-desktop.webp"]
  assign sample_column_desktop = images["sample-column-desktop.webp"]

  assign colour_matching_page = pages["colour-matching-service"]
  assign contact_page = pages["contact-us"]
  assign quiz_page = pages["journey"]
  assign sample_product = all_products["hair-extensions-sample-pieces"]
%}

{{ 'help-me-choose-collage.css' | asset_url | stylesheet_tag }}

<div class='page-width'>
  <div class='grid grid-container scroll-trigger animate--slide-in'>
    <div class='first' data-cascade style="--animation-order: 1;">
      <a href='{{ colour_matching_page.url }}' title='{{ colour_matching_page.title }}' class='mobile'><img src='{{ colour_matching_row_mobile | image_url: width: 768 }}' width="{{ colour_matching_row_mobile.width }}" height='{{ colour_matching_row_mobile.height }}' loading='lazy'></a>

      <a href='{{ quiz_page.url }}' title='{{ quiz_page.title }}' class='desktop'><img src='{{ quiz_column_desktop | image_url: width: 768 }}' width="{{ quiz_column_desktop.width }}" height='{{ quiz_column_desktop.height }}' loading='lazy'></a>
    </div>
    <div class='second' class='first' data-cascade style="--animation-order: 2;">
      <a href='{{ quiz_page.url }}' title='{{ quiz_page.title }}' class='mobile'><img src='{{ quiz_column_mobile | image_url: width: 768 }}' width="{{ quiz_column_mobile.width }}" height='{{ quiz_column_mobile.height }}' loading='lazy'></a>

      <a href='{{ colour_matching_page.url }}' title='{{ colour_matching_page.title }}' class='desktop'><img src='{{ colour_matching_row_desktop | image_url: width: 768 }}' width="{{ colour_matching_row_desktop.width }}" height='{{ colour_matching_row_desktop.height }}' loading='lazy'></a>
    </div>
    <div class='third' class='first' data-cascade style="--animation-order: 3;">
      <a href='{{ sample_product.url }}' title='{{ sample_product.title }}' class='mobile'><img src='{{ sample_column_mobile | image_url: width: 768 }}' width="{{ sample_column_mobile.width }}" height='{{ sample_column_mobile.height }}' loading='lazy'></a>

      <a href='{{ sample_product.url }}' title='{{ sample_product.title }}' class='desktop'><img src='{{ sample_column_desktop | image_url: width: 768 }}' width="{{ sample_column_desktop.width }}" height='{{ sample_column_desktop.height }}' loading='lazy'></a>
    </div>
    <div class='fourth' class='first' data-cascade style="--animation-order: 4;">
      <a href='{{ contact_page.url }}' title='{{ contact_page.title }}' class='mobile'><img src='{{ contact_row_mobile | image_url: width: 768 }}' width="{{ contact_row_mobile.width }}" height='{{ contact_row_mobile.height }}' loading='lazy'></a>

      <a href='{{ contact_page.url }}' title='{{ contact_page.title }}' class='desktop'><img src='{{ contact_row_desktop | image_url: width: 768 }}' width="{{ contact_row_desktop.width }}" height='{{ contact_row_desktop.height }}' loading='lazy'></a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Help Me Choose Collage",
    "settings": []
  }
{% endschema %}