{% liquid
  assign colour_matching_row_mobile = images["colour-matching-row-mobile.webp"]
  assign contact_row_mobile = images["contact-row-mobile.webp"]
  assign lookbook_column_mobile = images["lookbook-column-mobile.webp"]
  assign quiz_column_mobile = images["quiz-column-mobile.webp"]
  assign sample_column_mobile = images["sample-column-mobile.webp"]
  assign video_guides_column_mobile = images["video-guides-column-mobile.webp"]
%}

<style>
  .grid-container{
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  }


  img{
    width:100%;
    height:auto;
    display:block;
    margin:0;
    padding:0;
  }

  .first{
    grid-column:1 / 3;
    grid-row: 1;
  }

  .second{
    grid-column:1 / 2;
    grid-row: 2;
  }

  .third{
    grid-column:2 / 3;
    grid-row: 2;
  }

  .fourth{
    grid-column:1 / 3;
    grid-row: 3;
  }
</style>

<div class='page-width'>
  <div class='grid grid-container scroll-trigger animate--slide-in'>
    <div class='first' data-cascade style="--animation-order: 1;">
      <img src='{{ colour_matching_row_mobile | image_url: width: 768 }}' width="{{ colour_matching_row_mobile.width }}" height='{{ colour_matching_row_mobile.height }}' loading='lazy'>
    </div>
    <div class='second' class='first' data-cascade style="--animation-order: 2;">
      <img src='{{ quiz_column_mobile | image_url: width: 768 }}' width="{{ quiz_column_mobile.width }}" height='{{ quiz_column_mobile.height }}' loading='lazy'>
    </div>
    <div class='third' class='first' data-cascade style="--animation-order: 3;">
      <img src='{{ sample_column_mobile | image_url: width: 768 }}' width="{{ sample_column_mobile.width }}" height='{{ sample_column_mobile.height }}' loading='lazy'>
    </div>
    <div class='fourth' class='first' data-cascade style="--animation-order: 4;">
      <img src='{{ contact_row_mobile | image_url: width: 768 }}' width="{{ contact_row_mobile.width }}" height='{{ contact_row_mobile.height }}' loading='lazy'>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {"name": "Test"}
    ]
  }
{% endschema %}