{% liquid
  assign colour_matching_row_mobile = images["colour-matching-row-mobile.webp"]
  assign contact_row_mobile = images["contact-row-mobile.webp"]
  assign lookbook_column_mobile = images["lookbook-column-mobile.webp"]
  assign quiz_column_mobile = images["quiz-column-mobile.webp"]
  assign sample_column_mobile = images["sample-column-mobile.webp"]
  assign video_guides_column_mobile = images["video-guides-column-mobile.webp"]
%}

<style>
  .grid-container{
    display:grid;
    
  }

  .flex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:20px;
  }

  img{
    width:100%;
    height:auto;
  }
</style>

<div class='grid grid-container page-width'>
  <div>
    <img src='{{ colour_matching_row_mobile | image_url: width: 768 }}' width="{{ colour_matching_row_mobile.width }}" height='{{ colour_matching_row_mobile.height }}' loading='lazy'>
  </div>
  <div class='flex'>
    <img src='{{ quiz_column_mobile | image_url: width: 768 }}' width="{{ quiz_column_mobile.width }}" height='{{ quiz_column_mobile.height }}' loading='lazy'>
    <img src='{{ sample_column_mobile | image_url: width: 768 }}' width="{{ sample_column_mobile.width }}" height='{{ sample_column_mobile.height }}' loading='lazy'>
  </div>
  <div>
    {{ contact_row_mobile | image_url | image_tag  }}
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [
      {"name": "Test"}
    ]
  }
{% endschema %}